<?xml version="1.0" encoding="utf-8"?>
<!-- Aucune permission : Kairos 3 sur Android ne fait aucun appel réseau
     (pas de INTERNET), donc aucune anti-fonctionnalité F-Droid
     (docs/spec-v3/distribution.md § Android). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kairos"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
